# Backend
backend/target/
backend/*.jar
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Infrastructure
infra/node_modules/
infra/cdk.out/
infra/dist/
infra/*.js
infra/*.d.ts

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
backend/.env

# Logs
*.log
logs/
infra/cdk.context.json
